body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9e9e9;
    font-size: large;
  }
  
  header,
  nav,
  main,
  footer {
    padding: 20px;
  }
  
  header {
    background: url('cool-background.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 20px 0;
  }
  
  h1 {
    text-align: center;
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
  }
  
  h2 {
    color: #439D9D;
    font-family: Georgia, serif;
    font-size: 2em;
    text-align: left;
  }
  
  nav {
    background: url('BG.png') no-repeat center center fixed;
    background-size: cover;
    padding: 20px;
    font-family: Georgia, serif;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-family: Georgia, serif;
  }
  
  nav ul li a:hover {
    color: #666;
  }
  
  main section {
    margin-bottom: 40px;
  }
  
  .image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .image-container a {
    display: block;
    width: 100%;
    max-width: 300px;
  }
  
  .image-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .work-image-container {
    text-align: center;
  }
  
  .work-image-container a {
    display: inline-block;
  }
  
  @media (max-width: 600px) {
    .image-container {
      gap: 10px;
    }
  
    .image-container a {
      flex: 1 1 100%;
    }
  
    nav ul li {
      display: block;
      margin-bottom: 10px;
    }
  
    header,
    nav,
    main,
    footer {
      padding: 10px;
    }
  
    h2 {
      font-size: 1.2em;
    }
  
    #photos img {
      width: 100%;
      height: auto;
    }
  }
  
  @media (min-width: 600px) and (max-width: 900px) {
    .image-container {
      gap: 15px;
    }
  
    .image-container a {
      flex: 1 1 50%;
    }
  
    #photos img {
      width: 80%;
      height: auto;
    }
  }
  
  @media (min-width: 900px) {
    .image-container {
      gap: 20px;
    }
  
    .image-container a {
      flex: 1 1 33.33%;
    }
  
    #photos img {
      width: 30%;
      height: auto;
    }
  }
  .work-image-container img {
    width: 80%;
    height: fit-content;
    max-width: 100%;
    object-fit: auto;
  }
  
  #photos {
    text-align: center;
  }
  
  #photos h2 {
    text-align: left;
  }
